<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
</head>
<body>
    <h1>Products:</h1>
    <ul>
        {% for product in products %}
        <il>
            <img src="{{product.image}}" />
            <div>{{product.brand}}</div>
            <a href="{{ product.get_absolute_url }}">
                <h2>{{product.title}}</h2>
            </a>
            <div>{{product.price}}</div>
            
        </il>
        {% empty %}
        <li>
            <p>
                Les produits ont été consommés
            </p>
        </li>
    {% endfor %}
</ul>    
</body>
</html>